[submodule "devcapsule-src/tests/resources/sample_projects/fastapi-webapp"]
	path = devcapsule-src/tests/resources/sample_projects/fastapi-webapp
	url = git@github.com:ccozianu/devcapsule-sample-fastapi-webbapp.git
